<h1 class="h1-custom">
	New York! 
</h1>


<% @pics.each do |pic| %>
<div class="span4 boxy text-center">
	<h2>
		<%= pic.place %>
	</h2>


<!-- where does this file lives, display the image-->
<%= image_tag pic.image %>

	<br/>
	<body>
		<br/>
		<%= pic.description %>
		<br/>
		<br/>
		<!--<%= pic.location %>-->
		<%= link_to pic.location, map_map_path(:place => pic.location) %>
		<br/>
	</body>

	</div>
<% end %> 



