
	<h1 class="h1-custom" style="margin-top: 0px;">
		New York! 
	</h1>
	<div> 
	<% @pics.each do |pic| %>

	<div class="span4 boxy text-center">
		<h2>
			<%= pic.place %>
		</h2>
		<!-- display the image-->
		<%= image_tag pic.image %>
		<br/>
		<br/>
		<%= pic.description %>
		<br/>
		<br/>
		<!--<%= pic.location %>-->
		<%= link_to pic.location, pic%>
		<br/>

	</div> <!-- boxy -->
	<% end %> 
</div>



