 <div>
  <ul class="nav nav-pills" style="float:right; margin: 10px; width: 42%;">
    <li class="active"><a href="#">Show all</a></li>
  </ul>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<title>NYC Adventure Map</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">

<script src="//maps.google.com/maps?file=api&amp;v=2&amp;key=AIzaSyCPLbu8YjZRwomPf5PC6rIEwAuv57GfR5E"
type="text/javascript"></script>

<script type="text/javascript">


$(function() {

  $( window ).unload(function() {
    GUnload();
  });


 //load window first 
 // $(window).load(function)(){ 
      //if (GBrowserIsCompatible()) {

         // embed 2D map in DOM from pset8
         /*var latlng = new google.maps.LatLng(-74.006393, 40.714172);
         
         

          map = new google.maps.Map($("#map_canvas").get(0), {
          center: latlng,
          disableDefaultUI: true,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          scrollwheel: false,
          zoom: 17,
          zoomControl: true  } */



          var map = new GMap2(document.getElementById("map_canvas"));
          // center of map at central park, zoom
          map.setCenter(new GLatLng(40.77464310, -73.97019620), 13);
          //map.setCenter(new GLatLng(@pic.lat, @pic.lat), 13);

          //var map = new GMap2(document.getElementById("map_canvas"));
          
          $("section").each(function() {
            //take the lat and lng from the rails below, split it into an array using the | 
            var encoded_lat_lng = $(this).html();
            var array_version = encoded_lat_lng.split("|");
            var lat = array_version[0];
            var lng = array_version[1];
            var point = new GLatLng(lat, lng);
            map.addOverlay(new GMarker(point));
            

          });
          

          //var marker = new google.maps.Marker({
          //position: new google.maps.LatLng(40.764843, -73.05279),
          //map: map,
          //title:"Marker is here"



        //}

      });




 </script>

 <div id="left">
  <div style="height:100%; width:100%;">

    <!--Map style on Webpage-->
    <div id="map_canvas" style="width: 500px; height: 1000px; margin: 10px; float:left; width: 50%; position: fixed; top: 0;">
    </div>
  </div>

</div>

<!--Side recs on webpage
<div class="span4 boxy text-center" style="float:right; margin: 10px; width: 42%"> 
  New York Recs here
  <br/>
  <br/>
  Im a rocking place
  <br/>
  <br/>
  and so am I 
  <br/>
  <br/>
  and me too -->

  <div id="right">


    <div id="one" class="hidden">
      <div class="span4 boxy text-center">
        <h2>
          <%= @pic.place %>
        </h2>
        <%= @pic.location %>
        <section >
          <%= @pic.lat.to_s + "|" + @pic.lng.to_s %>
        </section>
      </div>
    </div>

    <div id="nearby" >
      <% @picsNearby.each do |pic| %>
      <div class="span4 boxy text-center">
        <h2>
          <%= pic.place %>
        </h2>
        <%= pic.location %>
        <section >
          <%= pic.lat.to_s + "|" + pic.lng.to_s %>
        </section>
      </div>
      <% end %> 
    </div>



  </div>

  <!--<div id="map-canvas"></div>-->


</div>
