<!DOCTYPE html>
<!-- add this to the top of every page -->
<html>

<!-- Google analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46637759-1', 'hiddennyc.herokuapp.com');
  ga('send', 'pageview');

</script>

  <head>
    <title>Hidden NYC</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <!--make a rule to change the background for each page-->
  <body class="<%= "#{params[:controller]}-#{params[:action]}" %>">
  <!--bootstrap responsive nav-->
  <div class="fixednav">
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <!--  add link to Ruby code -->
          <%= link_to 'Hidden NYC', root_path, :class => 'brand' %>
     
          <!-- Everything you want hidden at 940px or less, place within here -->
          <div class="nav-collapse collapse">
            <!-- .nav, .navbar-search, .navbar-form, etc // added from basic nav bootstrap  change path for map to #Pic.find(9)-->
            <ul class="nav">
            	<li>
            		<%= link_to 'Shhh...NYC', pics_path %>
            	</li>
            	<!-- add back when you want people to contribute 
              <li>
            		<%= link_to 'Contribute', new_pic_path %>
            	</li> -->
                <li>
                <%= link_to 'Map', map_map_path%>
              </li>
        	 </ul>
          </div> <!-- nav-collapse collapse -->
        </div> <!-- container -->
      </div> <!-- navbar-inner -->
    </div> <!-- navbar navbar-inverse -->
  </div> <!-- fixednav -->
  <!--pulls in each pages info-->
  <%= yield %>
  </body>
</html>
